@media only screen and (min-width: 48.1em) { /* Desktops/etc mainly */
    main        { min-height: 70vh; display: flex; flex-flow: row wrap; line-height: 200%; }
    aside       { flex: 0 1 12.5vw; min-width: 8em; line-height: 150%; }
    aside > .box { padding: 1.5em 0 2em 1em; border: 1px solid; border-radius: 30px 5px 50px 30px; background-color: rgb(250,250,240);}

    article     {
        flex: 1 0 20em;   min-width: 30em; max-width: 77.5vw; padding-left: 2em; /* overflow: scroll; */
        background-color: #fff;
        background-color: rgba(255,255,255,0.6);
        margin-right: 1em;
    }
    article > * { padding: 1em 0 0 0; margin-right: 13em;}
    article > h2 { padding: 1em 0 0 0; margin-right: 3em;}
    .boxright{ border-radius: 5px 50px 30px 50px; box-shadow: 3px 3px; background-color: white; border: 1px solid; }
    .boxright   { width: 31%; min-width: 13em; float: right; padding: 1em 0.5em 1.5em 1.5em; margin: 1.5em; line-height: 180%; }
    .boxright > ul , .boxright > ul > li , .boxright > ul > li > ul > li { margin: 0em 0em 0em 0.5em; padding: 0; }
    .boxright-img { width: 95%; }
}
