@media only screen and (max-width: 48.1em) { /* Mobiles/etc mainly */
    header > h1 { margin-top: 0em; }
    header > h2 { font-size: 1.5em; }
    main        { min-height: 90vh; display: flex; flex-flow: row wrap; }
    aside       { width: 90vw; border-bottom: 1px solid #777; background-color: rgb(250,250,240);}
    aside > .box { width: 90vw; padding-left: 2em;}
    aside > .box > dt  { display: inline; float: left; font-size: 0.8em; padding: 0.5em 1em 0.5em 0 ;}
    code, pre {
        font-size: 12px;
    }

    article     { width: 90vw; padding: 0; /* overflow: scroll; */ }
    p, li { margin-bottom: 0.5em; }

    article > p { padding: 1em 0 0 0;}
    .boxright { width: 80vw;  clear: both; padding: 0.5em; margin: 1em auto 1em auto; }
    .boxright { border-radius: 5px; box-shadow: 3px 3px; background-color: white; border: 1px solid; }
    .boxright-img { width: 50%; padding: auto;}

    h1,h2,h3 { margin: 1.0em 0 0.5em 0; }
    h4,h5,h6 { margin: 1.0em 0 0em 0;  }
}
